<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Cache-control" content="no-cache">
        <title>TMA3</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
        

    </head>
    <body>
        <div>
            <div>
                <div>
                    <div class="nav-top flex jc-center bg-five">
                        <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
                        <a class="pad-1 color-one" href="/documentation/architecture">Architecture</a>
                        <a class="pad-1 color-one" href="/documentation/part1doc">PART1 DOC</a>
                        <a class="pad-1 color-one" href="/documentation/part2doc">PART2 DOC</a>
                        <!-- <a class="pad-1 color-one" href="/documentation/part3doc">PART3 DOC</a>
                        <a class="pad-1 color-one" href="/documentation/part4doc">PART4 DOC</a> -->
                    </div>
                    <div id="side-nav" class="nav-home bg-five flex jc-center">
                        <a class="pad-4 color-one" href="/documentation">Documentation</a>
                        <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                        <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                        <a class="pad-4 color-one" href="/part3">COMPUTER STORE(STATIC)</a>
                        <a class="pad-4 color-one" href="/part4">COMPUTER STORE(DYANAMIC)</a>
                    </div>
                    <div>
                        <div class="flex jc-center">Architecture</div>
                        <div style="flex-direction: column;" class="pad-2 flex jc-center">
                            <img class="" height="500px" width="500px" src="/static/img/Architecture.jpeg" >
                            <p style="padding:0 10%; font-size:140%">The above Image Shows the Architecture of the project. Project si build on Django . It is a modern webframework used to develop
                                high quality websites. Our website is hosted in Amazon Webservices. The operating system used in the aws server is Ubuntu.
                                The application used to create the server are nginx gunicorn and superadvisor. The public ip is http://3.86.255.16/ can be 
                                accessed from any where around the globe
                            </p>
                                <p style="padding:0 10%; font-size:140%">
                                Starting from the left side of the diagram, The client can access the page or webiste from browser simply using the link  http://3.86.255.16/
                                then client can navigate through any part the project using the various link in the navigation bars. Whenever any link in clicked
                                the django server then request for the page client is looking for. Then the django server completes all the required services using 
                                django SQL DB lite and render the page using django templates . The project is only tested in chorme browser. The domain name is not
                                purchased as this is not a commercial project it is only used for this course.
                            </p>
                            
                                <p style="padding:0 10%; font-size:140%">The Entire assignment is a single Djnago Project with 5 apps inside it. Talking about the root directory consist of 5 app directories
                                    and three other directories one for share static files like css imgs and javascript and other one is template folder which is used for 
                                    common templates used over the different app. The last directory is django engine directory which maps the services of each app to urls 
                                    I have used Django DB sql lite database which is default database for django as per the requirement, I have only used
                                    database for 2nd part and 4th part as mentioned in the assignment.
                            </p>

                            <p style="padding:0 10%; font-size:140%">
                                In each app folder there are by default files by django like models.py, app.py, urls.py, views.py. There are 5 apps as mentioned earlier
                                thus each folder have or app has its own templates , view and urls. When any services is called by the client the django lokks for the 
                                required app and its urls whose works are defined the views.py file including all the crud ooperations
                            </p>

                            <p style="padding:0 10%; font-size:140%">All apps works similarly. We have navigation in every part where client can navigate to the any part. Once any 
                                app is called it looks for the required service within its folder and response back. We have home app for documentation
                                Check visits for part1, slider for 2nd part, computer store(static) for 3rd part and computer store (dyanamic) for part 4
                                this is the overall architecture of the Project
                            </p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
    </body>

</html>