{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-control" content="no-cache">

    <script type="text/javascript" src={% static 'home/homeScript.js' %}></script>
    <title>Harshit Venket Subramanian Assignment 3 HomePage</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="main2_center">

                
                <div class="nav-top flex jc-center bg-five">
                    <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
                    <a class="pad-1 color-one" href="/documentation/architecture">Architecture</a>
                    <a class="pad-1 color-one" href="/documentation/part1doc">PART1 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part2doc">PART2 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part3doc">PART3 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part4doc">PART4 DOC</a>
                </div>
                <div id="side-nav" class="nav-home bg-five flex jc-center">
                    <a class="pad-4 color-one" href="/documentation">Documentation</a>
                    <a class="pad-4 color-one" href="/part1">PART 1 CHECK VISITS</a>
                    <a class="pad-4 color-one" href="/part2">PART 2 SLIDE SHOW</a>
                    <a class="pad-4 color-one" href="/part3">PART 3 COMPUTER STORE</a>
                    <a class="pad-4 color-one" href="/part4">PART 4 COMPUTER STORE</a>
                </div>
                <!-- Banner -->
                <section class="main2-banner-container" id="Main2-container">
                    <!--It is here where the content presented can be updated from main2.js-->
                    <div class="main2-banner-title">Part 4 Documentation</div>
                    <div id="main2-banner-content">
                        <img src="/static/img/part4Database.png" class="main2-banner-content-image-centered">
                        <p class="main2-banner-content-text-centered">
                            All the code and files used for this app are contained inside the part4 folder. To connect to this app, either press the link in the sidebar,
                            or you can directly connect to it by entering the URL http://localhost:8000/part4/ . I chose to name this app simply part4 rather then something
                            like computer store to avoid confusion between the part3 computer store</p>
                        <p class="main2-banner-content-text-centered">
                            Much of the funcitonality is the same as part3 from a user perspective, however much has changed behind the scenes. There is now an authentication system
                            with the app. If a user tries to access this app or a page in this app without signing in, the user will automatically be redirected to the login page.
                            At the login page, the user can either enter their credentials and log into the app, or they can choose to proceed to the create account screen,
                            where the user will be automatically redirected to the welcome page of the app and signed in after creating an account. There is also now a logout button 
                            at the top navigation of the app which signs the user out and redirects to the login page.
                        </p>

                        <p class="main2-banner-content-text-centered">
                            What has changed behind the scenes is that we are no longer using cookies and we are required to use a database to store and update all our data. In the part4 app folder,
                            you will notice the json data has been deleted and can no longer be used in the app. Instead, we will utilize django models to create our tables in our db and store our data.
                            All the relevant Django models used in this assignment can be viewed in the models.py file in the part4 folder. The image above shows all the models used for the app. 
                            The Users model is already created by default as thanks to django, so all the user related data is stored in this default model. There is also a computers model, which is very
                            similar to what was done for computers in the part3 json. There is a model for each part_name (cpu, ram, etc...), and a model for cart. 
                        </p>
                        <p class="main2-banner-content-text-centered">
                            Because we are now needing to interact more with the backend, the command folder now contains many more commands, allowing the client to send more requests to the server.
                            In the parts page of part4 we are now sending a get request which tells the server to run a query against the db to fetch all the relevant parts data, and send it back
                            to the client in json format. In the computers section of part4, the exact same thing is done but now for computers. When a computer is added to cart, essentially now what happens
                            is we send a request (command) to add an entry to the cart model, as shown above. This entry in the cart model contains all the info related to that computer the user has added, as well
                            as the userID to allow the server to know which cart entry is for which user. So when the user presses the cart button in the navigation in part4, a query is run on the backend
                            to fetch all cart entries that have the same userID as the user, and send that data to the client side to render to the browser. Upon deleting or purchasing computers, the cart entries
                            are deleted from the model.
                        </p>
                    <!--End of content update-->
                </section>

                <div class="main2-banner-content-page-navigation" id="Main2-Page-Navigation">
                </div>


            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" style="display: none;">
            <div class="inner_sidebar">
                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a href="http://localhost:8000/">Documentation</a></li>
                        <li><a href="http://localhost:8000/numVisits/">Part 1 Check Visits</a></li>
                        <li><a href="http://localhost:8000/slideshow/">Part 2 SlideShow</a></li>
                        <li><a href="http://localhost:8000/part3/">Part 3 Computer Store</a></li>
                        <li><a href="http://localhost:8000/part4/">Part 4 Computer Store</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
</body>

</html>