{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-control" content="no-cache">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src={% static 'home/homeScript.js' %}></script>
    <title>Harshit Venket Subramanian Assignment 3 HomePage</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>

<body>
    <div>
        <div id="main">
            <div>
                <div class="nav-top flex jc-center bg-five">
                    <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
                    <a class="pad-1 color-one" href="/documentation/architecture">Architecture</a>
                    <a class="pad-1 color-one" href="/documentation/part1doc">PART1 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part2doc">PART2 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part3doc">PART3 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part4doc">PART4 DOC</a>
                </div>
                <div id="side-nav" class="nav-home bg-five flex jc-center">
                    <a class="pad-4 color-one" href="/documentation">Documentation</a>
                    <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                    <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                    <a class="pad-4 color-one" href="/part3">COMPUTER STORE(STATIC)</a>
                    <a class="pad-4 color-one" href="/part4">COMPUTER STORE(DYANAMIC)</a>
                </div>

                
                <section>
                    <!--It is here where the content presented can be updated from main2.js-->
                    <div >Part 2 Documentation</div>
                    <div >
                        <p style="padding:0 10%; font-size:140%">
                            The url used to acess the page is http://3.86.255.16/part2. The app name also part2 and the folder part 2
                            contains all the necessaary files needed for the app to run
                            </p>
                        <p style="padding:0 10%; font-size:140%">
                            On Conneting this app we can see one picture in the center with a caption under the picture. And below that there few buttons like 
                            sequential, previous, play , next, pause, forward, backward. As per the requirement this a slideshow where we have two types of slide shows 
                            one having random order and another having sequential. Sequential order can be played backward and forward as well with manual previous
                            and next buttons on the  other hand random only can be played and paused
                        </p>

                        <p style="padding:0 10%; font-size:140%">
                            when you connect the app it load the data from the django default data base with picturs and captions. Then it loads script
                            from part2.js in which every function is writeen to randomize the order including changing the direction and also other functionalities
                            required for the slide show
                        </p>
                    <!--End of content update-->
                </section>
            </div>
        </div>
        
    </div>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
</body>

</html>