{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-control" content="no-cache">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src={% static 'home/homeScript.js' %}></script>
    <title>TMA3</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="main2_center">

                <!-- Header -->
                <div class="nav-top flex jc-center bg-five">
                    <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
                    <a class="pad-1 color-one" href="/documentation/architecture">Architecture</a>
                    <a class="pad-1 color-one" href="/documentation/part1doc">PART1 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part2doc">PART2 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part3doc">PART3 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part4doc">PART4 DOC</a>
                </div>
                <div id="side-nav" class="nav-home bg-five flex jc-center">
                    <a class="pad-4 color-one" href="/documentation">Documentation</a>
                    <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                    <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                    <a class="pad-4 color-one" href="/part3">COMPUTER STORE(STATIC)</a>
                    <a class="pad-4 color-one" href="/part4">COMPUTER STORE(DYANAMIC)</a>
                </div>

                <!-- Banner -->
                <section >
                    <!--It is here where the content presented can be updated from main2.js-->
                    <div >Part 1 Documentation</div>
                    <div id="">
                        <img src="/static/img/part1.png" style="margin-left:150px">
                        <p style="padding:0 10%; font-size:140%">The image above shows a an example of what happens when you connect to this app.
                            It has three fields one having ip address second no of times website is visited and last one is 
                            for time zone
                            </p>
                            <p style="padding:0 10%; font-size:140%">
                                When the app is called a part1.js is loaded which has script to create a cookie name counter
                                every time webiste is visited the cookie counter is incremented by one hence storing the track of the
                                visits also we have used get api call to get the info about the ip address. Lastly we have function 
                                to get the timezone
                            </p>
                </section>
            </div>
        </div>

        
    <script type="text/javascript" src="/static/js/navbar.js"></script>
</body>

</html>