{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Cache-control" content="no-cache">

    <title>TMA3</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="main2_center">

                
                <div class="nav-top flex jc-center bg-five">
                    <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
                    <a class="pad-1 color-one" href="/documentation/architecture">Architecture</a>
                    <a class="pad-1 color-one" href="/documentation/part1doc">PART1 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part2doc">PART2 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part3doc">PART3 DOC</a>
                    <a class="pad-1 color-one" href="/documentation/part4doc">PART4 DOC</a>
                </div>
                <div id="side-nav" class="nav-home bg-five flex jc-center">
                    <a class="pad-4 color-one" href="/documentation">Documentation</a>
                    <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                    <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                    <a class="pad-4 color-one" href="/part3">COMPUTER STORE(STATIC)</a>
                    <a class="pad-4 color-one" href="/part4">COMPUTER STORE(DYANAMIC)</a>
                </div>
                <!-- Banner -->
                <section >
                    <!--It is here where the content presented can be updated from main2.js-->
                    <div >Part 4 Documentation</div>
                    <div >
                        <div class="flex" style="padding-left:150px">
                            <img width="40%" src="/static/img/part4one.png" >
                            <img width="40%" src="/static/img/part4two.png" >
                        </div>
                        
                        <p style="padding:0 10%; font-size:140%">
                            Anyone can access the part using the url http://3.86.255.16/part4, the funtions are required files are under the directory 
                            part 4. 
                            </p>
                        <p style="padding:0 10%; font-size:140%">
                            The working and ui of the the part 4 is almost some with some additional services fo login signup.
                            In this also client can select a computer and then customize it accordingly but for now to add it to the cart 
                            client needs to login if alredy signed up else have to sign Up and then sign in. As it is dyanamic store
                            all the information are from data base every data including computer detail, carts all are saved and 
                            fetched from the DB SQl lite.
                        </p>

                        
                        <p style="padding:0 10%; font-size:140%">
                            In the landing page the computer list can be increased or decreasd and configured by the admin of the store.
                            On clicking any of the computer the detail part is opened here client can change any particular part
                            and add it to the cart. The list of the parts are also dyanamic and are fetched from data base the store admin 
                            can modify the part details and list. After configuration the client can add to the cart which is also stored in the 
                            database and if in the cart section if any cart item is removed it is also updated in the database.
                        </p>
                    <!--End of content update-->
                </section>

                <div class="main2-banner-content-page-navigation" id="Main2-Page-Navigation">
                </div>


            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" style="display: none;">
            <div class="inner_sidebar">
                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a href="http://localhost:8000/">Documentation</a></li>
                        <li><a href="http://localhost:8000/numVisits/">Part 1 Check Visits</a></li>
                        <li><a href="http://localhost:8000/slideshow/">Part 2 SlideShow</a></li>
                        <li><a href="http://localhost:8000/part3/">Part 3 Computer Store</a></li>
                        <li><a href="http://localhost:8000/part4/">Part 4 Computer Store</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
</body>

</html>