<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180348448-1"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>TMA3</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" href="images/favicon.png" type="image/gif">
    </head>
    <body>
        <div>
            <div class="nav-top-blue flex jc-center bg-six">
              <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
              <div class="fw-bold font-150" id="logo">PC Builder</div>
                <a class="pad-1 color-one" href="/part4">Home</a>
                <a class="pad-1 color-one" href="/part4/feedback">feedback</a>
                <a class="pad-1 color-one" href="/part4/contact">contact us</a>
              
            </div>
            <div id="side-nav" class="nav-home bg-five flex jc-center">
                <a class="pad-4 color-one" href="/documentation">Documentation</a>
                <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                <a class="pad-4 color-one" href="/part3">COMPUTER STORE(STATIC)</a>
                <a class="pad-4 color-one" href="/part4">COMPUTER STORE(DYANAMIC)</a>
            </div>
        </div>
            <div class="form w-50 pad-5">
                {% if error %}
                <div style="color:red" class="pad-2"> Invalid Username</div>
                {% endif %}
                {% if reset %}
                <div>
                    Password reset seccessfull <br>
                    <a style="color : blue" href="/part4/login" target="_blank" rel="noopener noreferrer">click here to login</a>

                </div>
                {% else %}
                <form id ="form"action="" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">username</span>
                        <input name="username" type="text" class="form-control" placeholder="username" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    {% if user %}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">New Password</span>
                        <input id="pass" name="password" type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Confirm new password</span>
                        <input id="confirmPass" type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1" required>
                    </div>
                    {% endif %}
                    <button id="submit">reset</button>
                </form>
                {% endif%}
                
            </div>
            
        </div>
    <script>
        document.getElementById("submit").addEventListener('click',function(){
          
            const pass =document.getElementById("pass").value
            const confirmPass =document.getElementById("confirmPass").value
            if(pass == confirmPass){
                document.getElementById("form").submit();
            }
            else{
                alert('password donot match...please try again')
            }
        })
    </script>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    
    </body>
</html>