<!doctype html>
<html lang="en">
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180348448-1"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Instructions</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" href="images/favicon.png" type="image/gif">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="nav-home w-100 bg-five flex jc-center">
            <div class="pad-1 color-one">TMA3</div>
        </div>
        <div class="flex jc-center">
            <div>
                <h1 class="pad-v-2"> Welcome Visitor! </h1>
                <p>You have visited this page: <em id="counter">0</em>&#160;times</p>
                <p>Your IP Address: <em id="ip"></em> </p>
                <p>Your timezone: <em id="timezone"></em></p>
            </div>
        </div>
    <script type="text/javascript" src="/static/js/part1.js"></script> 
    </body>
</html>