<!doctype html>
<html lang="en">
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180348448-1"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TMA3</title>
        <!-- Bootstrap CSS -->
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <link rel="icon" href="images/favicon.png" type="image/gif">
    </head>
    <body>
        <div>
            <div class="nav-top-blue flex jc-center bg-six">
              <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
              <a class="pad-1 color-one" href="#">TMA3</a>
              
            </div>
            <div id="side-nav" class="nav-home bg-five flex jc-center">
                <a class="pad-4 color-one" href="/documentation">Documentation</a>
                <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                <a class="pad-4 color-one" href="/part3">COMPUTER STORE (STATIC)</a>
                <a class="pad-4 color-one" href="/part4">COMPUTER STORE (DYANAMIC)</a>
            </div>
        </div>
        <div class="container pad-3">
            <div class="canvas">
                {% for image in images %}
                <div class="pic" style="display:none">
                    <img  height="600px" width="1000px" src="/media/{{image.img}}" alt="" srcset="">
                    <div class="pad-2 flex jc-center"><div>{{image.caption}}</div></div>
                    
                </div>
                {% endfor %}
                <!-- <div class="pic">
                    <img style="display:none" height="90%" width="90%" src="/static/img/pictures/1.jpg" alt="" srcset="">
                </div>
                <div class="pic">
                    <img style="display:none" height="90%" width="90%" src="/static/img/pictures/2.jpg" alt="" srcset="">
                </div>
                <div class="pic">
                    <img style="display:none" height="90%" width="90%" src="/static/img/pictures/3.jpg" alt="" srcset="">
                </div> -->
            </div>
            <div class="btn-div flex jc-center">
                <button class="mh-1" id="toggle"></button>
                <button class="mh-1" id="prev">Previous</button>
                <button class="mh-1" id="play">Play</button>
                <button class="mh-1" id="next">Next</button>
                <button class="mh-1" id="pause">Pause</button>
                <button class="mh-1" id="forward">forward</button>
                <button class="mh-1" id="backward">backward</button>
            </div>
        </div>
        
        <script type="text/javascript" src="/static/js/part2.js"></script> 
        
    </body>
</html>