<!doctype html>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180348448-1"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>TMA3</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" href="images/favicon.png" type="image/gif">
    </head>
    <body>
        <div>
            <div class="nav-top-blue flex jc-center bg-six">
              <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
              <div class="fw-bold font-150" id="logo">PC Builder</div>
                <a class="pad-1 color-one" href="/part3">Home</a>
                <a class="pad-1 color-one" href="/part3/feedback">feedback</a>
                <a class="pad-1 color-one" href="/part3/contact">contact us</a>
              
            </div>
            <div id="side-nav" class="nav-home bg-five flex jc-center">
                <a class="pad-4 color-one" href="/documentation">Documentation</a>
                <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                <a class="pad-4 color-one" href="/part3">COMPUTER STORE(STATIC)</a>
                <a class="pad-4 color-one" href="/part4">COMPUTER STORE(DYANAMIC)</a>
            </div>
        </div>
            <div class="align-center pad-5">
                Contact Us <br>
                Email : Createyourpc@xyz.com <br>
                Phone : +91 88888 77777
            </div>
        </div>
       
    <script>
        document.getElementById('submit').addEventListener('click',function(){
            location.href='/part3/home'
        })
    </script>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    
    </body>
</html>