
<!doctype html>
<html lang="en">
  <head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180348448-1"></script>

 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> TMA3</title>
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" href="images/favicon.png" type="image/gif">
</head>
    <body>
      <div>
        <div class="nav-top-blue flex jc-center bg-six">
          <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
          <div class="fw-bold font-150" id="logo">PC Builder</div>
          <a class="pad-1 color-one" href="/part3">Home</a>
          <a id="cart" class="pad-1 color-one" href="/part3/cart">cart</a>
          <a class="pad-1 color-one" href="/part3/feedback">feedback</a>
                <a class="pad-1 color-one" href="/part3/contact">contact us</a>
        </div>
        <div id="side-nav" class="nav-home bg-five flex jc-center">
            <a class="pad-4 color-one" href="/documentation">Documentation</a>
            <a class="pad-4 color-one" href="/part1"> VISITS</a>
            <a class="pad-4 color-one" href="/part2"> SLIDE SHOW</a>
            <a class="pad-4 color-one" href="/part3">COMPUTER STORE (STATIC)</a>
            <a class="pad-4 color-one" href="/part4">COMPUTER STORE (DYANAMIC)</a>
        </div>
      </div>
      <div class="container-one pad-5 w-100">
        <div class="row">
          <div class="col-md">
            <div class="row">
              <div class="col-sm">
                <a  href="/part3/pc_one">
                  <div class="container mv-2 card-one">
                    <div class="flex align-center pad-v-2">
                      <img height="180px" width="auto" src="/static/img/pc-one.webp" alt="" srcset="">
                    </div>
                    <div class="font-120 pad-v-3 align-center">
                      Power Pack Pc 1
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/processor.png" alt="" srcset=""> INTEL CORE I7-12700 12TH GEN
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/ram-caticon.svg" alt="" srcset=""> 16GB (2x8GB) DDR4
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/monitor.png" alt="" srcset=""> LG 24MP400-B 24 INCH
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/hard-disk.png" alt="" srcset=""> WD 500GB NVME M.2
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/sound.png" alt="" srcset=""> Creative Sound BlasterX AE-5 Plus
                    </div>
                    <div class="color-two font-80 pad-v-2">
                      Black
                    </div>
                    <div class="pad-v-2">
                        <span class="rating bg-one color-one w-fit font-80 pad-h-2" style="border-radius:5px ;">
                          4.5 &#9733
                        </span>
                        <span class="pad-h-3 color-two">
                          (330)
                        </span>
                    </div>
                    <div >
                      <span class="font-180 fw-bold" >&#36</span> <span class="font-180 fw-bold price">580</span >
                      <span><button style="padding:10px 10px;margin-left: 50px; font-size:20px; background-color:#1100BB; color: #fff;">customize</button></span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm">
                <a  href="/part3/pc_two">
                  <div class="container mv-2 card-one">
                    <div class="flex align-center pad-v-2">
                      <img height="200px" width="auto"  src="/static/img/pc-two.webp" alt="" srcset="">
                    </div>
                    <div class="font-120 pad-v-3 align-center">
                      Power Pack Pc 2
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/processor.png" alt="" srcset=""> AMD RYZEN 9
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/ram-caticon.svg" alt="" srcset=""> 16GB (2x8GB) DDR5
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/monitor.png" alt="" srcset=""> BENQ GW2480T 24 INCH FHD IPS 
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/hard-disk.png" alt="" srcset=""> CORSAIR MP600 CORE 2TB M.2 
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/sound.png" alt="" srcset=""> HyperX Amp USB Sound Card
                    </div>
                    <div class="color-two font-80 pad-v-2">
                      Black
                    </div>
                    <div class="pad-v-2">
                        <span class="rating bg-one color-one w-fit font-80 pad-h-2" style="border-radius:5px ;">
                          4.5 &#9733
                        </span>
                        <span class="pad-h-3 color-two">
                          (330)
                        </span>
                    </div>
                    <div >
                      <span class="font-180 fw-bold" >&#36</span> <span class="font-180 fw-bold price">630</span >
                      <span><button style="padding:10px 10px;margin-left: 50px; font-size:20px; background-color:#1100BB; color: #fff;">customize</button></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="row">
              <div class="col-sm">
                <a  href="/part3/pc_three">
                  <div class="container mv-2 card-one">
                    <div class="flex align-center pad-v-2">
                      <img height="200px" width="auto"  src="/static/img/pc-three.webp" alt="" srcset="">
                    </div>
                    <div class="font-120 pad-v-3 align-center">
                      Power Pack Pc 3
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/processor.png" alt="" srcset="">INTEL CORE I5 9600K
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/ram-caticon.svg" alt="" srcset=""> 8GB DDR4
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/monitor.png" alt="" srcset=""> SAMSUNG ODYSSEY G4 SERIES
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/hard-disk.png" alt="" srcset=""> CRUCIAL P1 1 TB M.2 NVME
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/sound.png" alt="" srcset=""> Creative Sound Blaster Audigy FX 
                    </div>
                    <div class="color-two font-80 pad-v-2">
                      Black
                    </div>
                    <div class="pad-v-2">
                        <span class="rating bg-one color-one w-fit font-80 pad-h-2" style="border-radius:5px ;">
                          4.5 &#9733
                        </span>
                        <span class="pad-h-3 color-two">
                          (330)
                        </span>
                    </div>
                    <div >
                      <span class="font-180 fw-bold" >&#36</span> <span class="font-180 fw-bold price">560</span >
                      <span><button style="padding:10px 10px;margin-left: 50px; font-size:20px; background-color:#1100BB; color: #fff;">customize</button></span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-sm">
                <a  href="/part3/pc_four">
                  <div class="container mv-2 card-one">
                    <div class="flex align-center pad-v-2">
                      <img height="200px" width="auto"  src="/static/img/pc-four.webp" alt="" srcset="">
                    </div>
                    <div class="font-120 pad-v-3 align-center">
                      Power Pack Pc 4
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/processor.png" alt="" srcset=""> AMD RYZEN 7
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/ram-caticon.svg" alt="" srcset=""> 8GB DDR5
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/monitor.png" alt="" srcset=""> BENQ PD2705U 27 INCH 
                    </div>
                    <div class="pad-v-2">
                      <img src="/static/img/hard-disk.png" alt="" srcset=""> GIGABYTE AORUS 500GB M.2 NVME
                    </div>
                    <div class="pad-v-2 ">
                      <img src="/static/img/sound.png" alt="" srcset=""> ASUS XONAR SE 5.1 Channel
                    </div>
                    <div class="color-two font-80 pad-v-2">
                      Black
                    </div>
                    <div class="pad-v-2">
                        <span class="rating bg-one color-one w-fit font-80 pad-h-2" style="border-radius:5px ;">
                          4.5 &#9733
                        </span>
                        <span class="pad-h-3 color-two">
                          (330)
                        </span>
                    </div>
                    <div >
                      <span class="font-180 fw-bold" >&#36</span> <span class="font-180 fw-bold price">620</span >
                      <span><button style="padding:10px 10px;margin-left: 50px; font-size:20px; background-color:#1100BB; color: #fff;">customize</button></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    </body>
</html>

