<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180348448-1"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Instructions</title>
        <!-- Bootstrap CSS -->
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" href="images/favicon.png" type="image/gif">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <div class="nav-top-blue flex jc-center bg-six">
              <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
              <a class="pad-1 color-one" href="/par1">Home</a>
              
            </div>
            <div id="side-nav" class="nav-home bg-five flex jc-center">
                <a class="pad-4 color-one" href="/documentation">Documentation</a>
                <a class="pad-4 color-one" href="/part1">PART 1 CHECK VISITS</a>
                <a class="pad-4 color-one" href="/part2">PART 2 SLIDE SHOW</a>
                <a class="pad-4 color-one" href="/part3">PART 3 COMPUTER STORE</a>
                <a class="pad-4 color-one" href="/part4">PART 4 COMPUTER STORE</a>
            </div>
          </div>
        <div  id="blur">
            <button id="closeBtn">close</button>
            <div class="list-container hide" id="cpuList">
                <div >
                    <input id="name" value="power pc 1" type="text">
                    <div id="p1Text">INTEL CORE I7 9700F 9TH GENERATION PROCESSOR (12M CACHE, UP TO 4.70 GHZ) <input class="hide" id="p1" value="15000" type="text"></div>
                    <div><button id="selectP1" class="color-one bg-two">select</button></div>
                </div>
            </div>
            <div class="list-container hide" id="ramList">
                <div >
                    <div id="ram1Text">New Ram <input class="hide" id="ram1" value="1000" type="text"></div>
                    <div><button id="selectRam1" class="color-one bg-two">select</button></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 pad-v-2 w-100 ">
                    <div class="border">
                        <img  width=90% src="/static/img/pc-four.webp" alt="" srcset="">
                    </div>
                    <div class="row pad-v-4">
                        <div class="col"><button id="addToCart" class="w-100 pad-5 bg-two color-one fw-bold">&#128722 ADD TO CART</button></div>
                        <div class="col"><button id="buyNow"class="w-100 pad-5 bg-three color-one fw-bold">&#128498 BUY NOW</button></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="w-100 border">
                        <div class="font-150 fw-bold"><span>&#8377</span><span id="price"></span></div>
                        <div class="w-100 pad-2 border-b">
                            <h3>Specification</h3>
                        </div>
                        <div class="pad-2">
                            <div class="font-140">Customizable Components</div>
                            <div class="font-120">You can change the Specification by clicking on change button</div>
                            <div class="pad-2">
                                <div class="pad-v-2 ">
                                    <div >
                                        <img src="/static/img/cpu-2.png" alt="" srcset=""><input class="hide" id="cpu" value="10000"/> <span id="cpuText">INTEL CORE I7-12700 12TH GEN</span>
                                    </div>
                                    <div ><button id="changeCpu" class="mt-1 bg-four color-one" type="button">Change</button></div>
                                </div>
                                <div class="pad-v-2">
                                    <div><img src="/static/img/ram-2.png" alt="" srcset=""><input class="hide" id="ram" value="2000"/> <span id="ramText">16GB (2x8GB) DDR4</span></div>
                                    <button id="changeRam" class="mt-1 bg-four color-one">Change</button>
                                </div>
                                <div class="pad-v-2 ">
                                    <div><img src="/static/img/monitor-2.png" alt="" srcset=""><input class="hide" id="monitor" value="20000"/> LG 24MP400-B 24 INCH</div>
                                    <button id="changeMonitor" class="mt-1 bg-four color-one">Change</button>
                                </div>
                                <div class="pad-v-2">
                                    <div><img src="/static/img/hard-disk-2.png" alt="" srcset=""><input class="hide" id="hardDisk" value="5000"/> WD 500GB NVME M.2</div>
                                    <button id="changeHardDisk" class="mt-1 bg-four color-one">Change</button>
                                </div>
                                <div class="pad-v-2 ">
                                    <div><img src="/static/img/sound-2.png" alt="" srcset=""> <input class="hide" id="sound" value="3000"/> Sound BlasterX AE-5 Plus</div>
                                    <button id="changeSound" class="mt-1 bg-four color-one">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script src="/static/js/part3.js"></script>
    </body>
</html>