<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180348448-1"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Instructions</title>
        <!-- Bootstrap CSS -->
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="icon" href="images/favicon.png" type="image/gif">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <div class="nav-top-blue flex jc-center bg-six">
              <div class=" pad-1" id="bar"><i class="fas fa-bars color-one w-100"></i></div>
              <a class="pad-1 color-one" href="/part3">Home</a>
              <a id="cart" class="pad-1 color-one" href="/part3/cart"></a>
            </div>
            <div id="side-nav" class="nav-home bg-five flex jc-center">
                <a class="pad-4 color-one" href="/documentation">Documentation</a>
                <a class="pad-4 color-one" href="/part1">CHECK VISITS</a>
                <a class="pad-4 color-one" href="/part2">SLIDE SHOW</a>
                <a class="pad-4 color-one" href="/part3">COMPUTER STORE(STATIC)</a>
                <a class="pad-4 color-one" href="/part4">COMPUTER STORE(DYANAMIC)</a>
            </div>
          </div>
          <div  id="blur">
            <button id="closeBtn">close</button>
            <div class="list-container hide" id="cpuList">
                <div >
                    <div  class="text">INTEL CORE I7-12700 12TH GEN <input class="hide"  value="15000" type="text"></div>
                    <button class="selectCpuBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">AMD RYZEN 9 <input class="hide"  value="13000" type="text"></div>
                    <button  class="selectCpuBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">INTEL CORE I5 9600K <input class="hide" value="10000" type="text"></div>
                    <button class="selectCpuBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">AMD RYZEN 7 <input class="hide" value="11000" type="text"></div>
                    <button class="selectCpuBtn color-one bg-two">select</button>
                </div>
            </div>
            <div class="list-container hide" id="ramList">
                <div >
                    <div  class="text">16GB (2x8GB) DDR4 <input class="hide"  value="8000" type="text"></div>
                    <button  class="selectRamBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">16GB (2x8GB) DDR5 <input class="hide"  value="12000" type="text"></div>
                    <button  class="selectRamBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">8GB DDR4 <input class="hide" value="6000" type="text"></div>
                    <button  class="selectRamBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">8GB DDR5 <input class="hide" value="8000" type="text"></div>
                    <button class="selectRamBtn color-one bg-two">select</button>
                </div>
            </div>
            <div class="list-container hide" id="displayList">
                <div >
                    <div  class="text">LG 24MP400-B 24 INCH <input class="hide"  value="15000" type="text"></div>
                    <button  class="selectDisplayBtn  color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">BENQ GW2480T 24 INCH FHD IPS DISPLAY <input class="hide"  value="18000" type="text"></div>
                    <button  class="selectDisplayBtn  color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">SAMSUNG ODYSSEY G4 SERIES<input class="hide" value="16000" type="text"></div>
                    <button  class="selectDisplayBtn  color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">BENQ PD2705U 27 INCH <input class="hide" value="17000" type="text"></div>
                    <button class="selectDisplayBtn  color-one bg-two">select</button>
                </div>
            </div>
            <div class="list-container hide" id="hardDiskList">
                <div >
                    <div  class="text">WD 500GB NVME M.2<input class="hide"  value="10000" type="text"></div>
                    <button  class="selectHardDiskBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text"> CORSAIR MP600 CORE 2TB M.2 NVME <input class="hide"  value="11000" type="text"></div>
                    <button  class="selectHardDiskBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div class="text">CRUCIAL P1 1 TB M.2 NVME<input class="hide" value="12000" type="text"></div>
                    <button  class="selectHardDiskBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div class="text">GIGABYTE AORUS 500GB M.2 NVME <input class="hide" value="13000" type="text"></div>
                    <button class="selectHardDiskBtn color-one bg-two">select</button>
                </div>
            </div>
            <div class="list-container hide" id="soundList">
                <div >
                    <div class="text">Creative Sound BlasterX AE-5 Plus<input class="hide"  value="10000" type="text"></div>
                    <button  class="selectSoundBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div  class="text">HyperX Amp USB Sound Card <input class="hide"  value="11000" type="text"></div>
                    <button  class="selectSoundBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div class="text">Creative Sound Blaster Audigy FX PCIe<input class="hide" value="12000" type="text"></div>
                    <button  class="selectSoundBtn color-one bg-two">select</button>
                </div>
                <div >
                    <div class="text">ASUS XONAR SE 5.1 Channel <input class="hide" value="13000" type="text"></div>
                    <button class="selectSoundBtn color-one bg-two">select</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4 pad-v-2 w-100 ">
                    <div class="border">
                        <img  width=90% src="/static/img/pc-four.webp" alt="" srcset="">
                    </div>
                    <div class="row pad-v-4">
                        <div class="col"><button id="addToCart" class="w-100 pad-5 bg-two color-one fw-bold">&#128722 ADD TO CART</button></div>
                        <div class="col"><button id="buyNow"class="w-100 pad-5 bg-three color-one fw-bold">&#128498 BUY NOW</button></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="w-100 border">
                        <div id="name">Power Pc 4</div>
                        <div class="font-150 fw-bold"><span>&#8377</span><span id="price"></span></div>
                        <div class="w-100 pad-2 border-b">
                            <h3>Specification</h3>
                        </div>
                        <div class="pad-2">
                            <div class="font-140">Customizable Components</div>
                            <div class="font-120">You can change the Specification by clicking on change button</div>
                            <div class="pad-2">
                                <div class="pad-v-2 ">
                                    <div >
                                        <img src="/static/img/cpu-2.png" alt="" srcset=""><input class="hide" id="cpu" value="11000"/> <span id="cpuText">AMD RYZEN 7</span>
                                    </div>
                                    <div ><button id="changeCpu" class="mt-1 bg-four color-one" type="button">Change</button></div>
                                </div>
                                <div class="pad-v-2">
                                    <div><img src="/static/img/ram-2.png" alt="" srcset=""><input class="hide" id="ram" value="8000"/> <span id="ramText">8GB DDR5</span></div>
                                    <button id="changeRam" class="mt-1 bg-four color-one">Change</button>
                                </div>
                                <div class="pad-v-2 ">
                                    <div><img src="/static/img/monitor-2.png" alt="" srcset=""><input class="hide" id="monitor" value="17000"/> <span id="monitorText">BENQ PD2705U 27 INCH </span> </div>
                                    <button id="changeMonitor" class="mt-1 bg-four color-one">Change</button>
                                </div>
                                <div class="pad-v-2">
                                    <div><img src="/static/img/hard-disk-2.png" alt="" srcset=""><input class="hide" id="hardDisk" value="13000"/> <span id="hardDiskText">GIGABYTE AORUS 500GB M.2 NVME</span> </div>
                                    <button id="changeHardDisk" class="mt-1 bg-four color-one">Change</button>
                                </div>
                                <div class="pad-v-2 ">
                                    <div><img src="/static/img/sound-2.png" alt="" srcset=""> <input class="hide" id="sound" value="13000"/><span id="soundText"> ASUS XONAR SE 5.1 Channel</span> </div>
                                    <button id="changeSound" class="mt-1 bg-four color-one">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script src="/static/js/part3.js"></script>
    </body>
</html>